.env
.env.local
.env.*

db_data/
mysql_data/
mariadb_data/

.idea/
*.iws
*.iml
*.ipr
out/

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.DS_Store
._*

*.log
logs/